:root {
  --lineHeight: 1.5;
  --baseColor: rgba(220, 15, 210, 0.5);
}

body {
  font-size: 18px;
  line-height: calc(var(--lineHeight)*2);
  height: 100px;
  background-color: yellow;
}

p:matches(:first-child, .special) {
  color: red;
}

p:not(:first-child, .special) {
  color: red;
  background-color: color(var(--baseColor) blackness(+10%));
}
